# Ignore node_modules directory
node_modules/

# Ignore logs and npm debug logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore .env files (contains sensitive information)
.env

# Ignore built files and directories
dist/
build/
out/
lib/
tmp/
temp/
*.out

# Ignore local development files
.vscode/
.idea/
*.code-workspace

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.sublime-workspace

# Optional: Ignore npm's package-lock or yarn's yarn.lock
# Uncomment the line below if you're using npm:
# package-lock.json
# Uncomment the line below if you're using yarn:
# yarn.lock

src/public/imgs/user/*
src/public/imgs/group/*

.VSCodeCounter/
