<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title}) %>
  <body>
    <div id="wrapper" class="friends-wrapper">
      <nav>
        <div id="user-bar-container">
          <div id="user-bar">
            <div>
              <a href="/messages">&larr;</a>
              <p>Friends</p>
            </div>
          </div>
        </div>
      </nav>
      <main>
        <div class="people">
          <div class="search" style="display: none">
            <input type="text" name="filter" id="filter" placeholder="search" />
            <button id="filter-button">Search</button>
          </div>
          <div class="known">
            <h4>Friends or Groups</h4>
            <ul>
              <p>No friends or groups found</p>
            </ul>
          </div>
          <div class="requests">
            <h4>Incoming friend requests</h4>
            <ul>
              <p>No incoming friend requests</p>
            </ul>
          </div>
          <div class="all">
            <h4>Add new people or join groups</h4>
            <ul>
              <p>No new friend or groups</p>
            </ul>
          </div>
        </div>
      </main>
    </div>
    <script src="./js/friends.js"></script>
  </body>
</html>
